/* Animação para o texto curvado girar muito lentamente (opcional) */
@keyframes spin-slow {
    0% { transform: translateX(-50%) rotate(-10deg); }
    50% { transform: translateX(-50%) rotate(10deg); }
    100% { transform: translateX(-50%) rotate(-10deg); }
}

.animate-spin-slow {
    animation: spin-slow 6s ease-in-out infinite;
}

.foto img{
width: 423px;
height:323px;

}